services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      -  C:/ROCOCOOJT/laravel-admin:/app
    working_dir: /app
    ports:
      - "8010:8010"  # ← ポート番号変更
    depends_on:
      db:
        condition: service_healthy
    command: php artisan serve --host=0.0.0.0 --port=8010

  web2:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - C:/ROCOCOOJT/laravel-front:/app  # 別プロジェクトや別コード
    working_dir: /app
    ports:
      - "8011:8011"
    depends_on:
      db:
        condition: service_healthy
    command: php artisan serve --host=0.0.0.0 --port=8011

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: myapp_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data: